body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto
}

.container {
    margin: 0px 150px;
}

.header {
    background-color:  #D7D7D7;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-img {
    width: 60px;
}

.nav-el {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #333333;
    background-color: white;
    border: 1.5px solid #797979;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 0px 0px 0px 45px;
}

.nav-el-lk {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    background-color: #D9001B;
    border: 1.5px solid #797979;
    border-radius: 6px;
    padding: 8px 16px;
    margin: 0px 0px 0px 45px;
}

.nav-el-dis {
    background-color: rgb(235, 234, 234);
    color: #333333ad;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.116);
    pointer-events: none;
    cursor: default;
}

.nav-el-none {
    display: none;
}

.row {
    display: flex;
}

.row-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic {
    flex: 0 1 600px;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text {
    flex: 0 1 900px;
    margin: 0 0 0 40px;
}

.footer {
    background-color: #F2F2F2;
    padding: 15px;
}

.desc {
    flex: 0 1 500px;
    font-style: italic;
    font-size: 13px;
    opacity: 0.5;
}

.about_us a {
    color: #1E98D7;
    text-decoration: none;
    font-size: 16px;
}