@import url(style.css);

.row {
    justify-content: center;
}

.reg-form {
    margin-top: 3em;
    padding: 1em 3em 1em 3em;
    flex: 0 1 600px;
    background-color: #F2F2F2;

}

.form-el p {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.form-el input {
    margin-bottom: 26px;
}

.form-el input[type="text"] {
    width: 300px;
    height: 25px;
}

.form-el input[type="password"] {
    width: 300px;
    height: 25px;
}

.form-el input[type="submit"] {
    float: right;
}

.form-el input[value="woman"] {
    margin-left: 60px;
}

.reg_btn {
    border: 1px solid rgba(30, 152, 215, 1);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(30, 152, 215, 1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.reg_btn:hover {
    background-color: rgb(33, 133, 184);
}

/* 
@media (max-width: 1200px) {
    .reg-form {
        margin-top: 1em;
        flex: 0 1 auto;
    }

    .form-el input {
        margin-bottom: 13px;
    }

    .reg_btn {
        margin-left: 40px;
    }
}
*/


@media (max-width: 992px) {
    .reg-form {
        margin-top: 1em;
        padding: 1em 3em 1em 3em;
        flex: 0 1 auto;
    }

    .form-el p{
        font-size: 16px;
    }

    .form-el input {
        margin-bottom: 13px;
    }
    
    .form-el input[type="text"] {
        height: initial;
    }
    
    .form-el input[type="password"] {
        height: initial;
    }
    
    .form-el input[value="woman"] {
        margin-left: 40px;
    }

    label{
        font-size: 14px;
    }
    
    .reg_btn {
        font-size: 15px;
        margin-left: 40px;
    }
}

@media (max-width: 767px) {
    .reg-form {
        flex: 0 1 auto;
        padding: 1em 2em 1em 2em;
        margin-top: 1em;
    }

    .form-el p{
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 600;
    }

    .form-el input {
        margin-bottom: 13px;
    }
    
    .form-el input[type="text"] {
        width: 200px;
        height: initial;
    }
    
    .form-el input[type="password"] {
        width: 200px;
        height: initial;
    }
    
    .form-el input[type="submit"] {
        margin-left: 10px;
    }
    
    .form-el input[value="woman"] {
        margin-left: 30px;
    }

    label{
        font-size: 13px;
    }
    
    .reg_btn {
        margin-top: 5px;
        font-size: 13px;
    }
}
