body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 90px;
    flex: 1 1 auto
}

.container {
    max-width: 1540px;
    margin: 0px auto;
    padding: 0px 10px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .content {
        padding-top: 50px;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #D7D7D7;
    z-index: 2;
}

.header-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    flex: 0 0 60px;
    position: relative;
    z-index: 3;
}

.logo img {
    width: 100%;
}

.menu-burger {
    display: none;
}

.nav-menu {

}

/* кнопки */

.header-list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header-list li {
    list-style: none;
}

.nav-el {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #333333;
    background-color: white;
    border: 1.5px solid #797979;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 0px 0px 0px 45px;
}

.nav-el-lk {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    background-color: #D9001B;
    border: 1.5px solid #797979;
    border-radius: 6px;
    padding: 8px 16px;
    margin: 0px 0px 0px 45px;
}

.nav-el-dis {
    background-color: rgb(235, 234, 234);
    color: #333333ad;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.116);
    pointer-events: none;
    cursor: default;
}

.nav-el-none {
    display: none;
}

.nav-el-panel {
    display: none;
}

/* кнопки */

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header-line {
        height: 50px;
    }

    .logo {
        flex: 0 0 40px;
    }

    .menu-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .menu-burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .menu-burger::before, 
    .menu-burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .menu-burger::before {
        top: 0;
    }

    .menu-burger::after {
        bottom: 0;
    }

    .menu-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu-burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .menu-burger.active span {
        transform: scale(0);
    }

    .nav-menu {
        position: fixed;
        top: -1000%;
        left: 0;
        width: 100%;
        height: 15%;
        background-color: #D7D7D7;
        padding: 70px 10px 20px 0px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .nav-menu.active {
        top: 0;
    }

    .header-list {
        display: block;
        text-align: right;
    }
    
    .header-list li {
        margin: 0px 15px 25px 0px;
    }

    /* подумать
    .nav-el {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        background-color: white;
        border: 1.5px solid #797979;
        border-radius: 6px;
        padding: 10px 14px;
        margin: 0px 0px 0px 45px;
    }
    
    .nav-el-lk {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        background-color: #D9001B;
        border: 1.5px solid #797979;
        border-radius: 6px;
        padding: 8px 16px;
        margin: 0px 0px 0px 45px;
    }
    */
}

.row {
    display: flex;
}

.row-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-b {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin: 5px 0px 20px 0px;
}

.pic {
    flex: 0 1 600px;
}

.pic img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text {
    flex: 0 1 900px;
    margin: 0px 0px 0px 40px;
}

@media (max-width: 992px) {
    .title-b {
        font-size: 29px;
    }

    .text {
        flex: 0 1 700px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .pic {
        display: none;
    }

    .title-b {
        font-size: 24px;
        margin: 8px 0px 10px 0px;
    }

    .text {
        flex: 1 1 auto;
        margin: 0px 0px 0px 0px;
        font-size: 13px;
    }
}

.footer {
    background-color: #F2F2F2;
    padding: 15px;
}

.desc {
    flex: 0 1 500px;
    font-style: italic;
    font-size: 13px;
    opacity: 0.5;
}

.about_us a {
    color: #1E98D7;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 992px) {
    .footer {
        padding: 10px;
    }

    .desc {
        flex: 0 1 400px;
        font-size: 11px;
    }

    .about_us a {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 5px;
    }

    .desc {
        flex: 0 1 200px;
        font-size: 10px;
    }

    .about_us a {
        font-size: 13px;
    }
}