@import url(style_lkPage.css);

.content-content {
    background-color:initial;
}

.columns-row {
    display: flex;
    flex-wrap: wrap;
}

.columns-column {
    flex: 0 1 47%;
    margin-bottom: 20px;
    margin-right: 23px;
}

.col {
    background-color: #F2F2F2;
    padding: 10px;
}

.col-row {
    display: flex;
}

.col-image {
    flex: 0 1 200px;
}

.col-image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.col-body {
    flex: 1 1 400px;
}

.col-title {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 10px;
}

.col-text {
    padding-left: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: normal
}

@media (max-width: 767px) {
    .title {
        margin-bottom: 8px;
    }

    .columns-column {
        flex: 0 1 100%;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .col-image {
        flex: 0 1 150px;
    }

    .col-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .col-text {
        padding-left: 10px;
        font-size: 12px;
    }
}

@media (max-width: 992px) and (min-width: 767px) {
    .title {
        margin-bottom: 8px;
    }

    .columns-column {
        flex: 0 1 100%;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .col-title {
        margin-bottom: 5px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .title {
        margin-bottom: 8px;
    }

    .columns-column {
        flex: 0 1 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .col-image {
        flex: 1 1 200px;
    }

    .col-body {
        flex: 1 1 550px;
    }

    .col-title {
        margin-bottom: 5px;
    }
}